CRX_PUBLIC_KEY="longCRXPublicKeyToEnsureTheExtensionIdStaysTheSameandOauth2.0WorksNicely"
OAUTH_CLIENT_ID=xxx.apps.googleusercontent.com
PLASMO_PUBLIC_EXTENSION_OS_API_ENDPOINT=https://localhost:3000/v1/chat/completions
PLASMO_PUBLIC_WEBSITE_EXTENSION_OS=https://localhost:3000
PLASMO_PUBLIC_SUPABASE_URL=
PLASMO_PUBLIC_SUPABASE_ANON_KEY=
E2E_TEST_GROQ_KEY="yourapikey:thisisusedforE2ETestingOnly"
